#pause-menu{
	position: absolute;
	height: 100px;
	width: 100px;
	background: rgba(11, 146, 47, 0.8);
	top: 50%;
	left: 50%;
    margin-top: -35px;
    margin-left: -50px;
	border: black solid 2px;
    visibility: hidden;
    opacity:0;
    -webkit-transform:scale(0) translate(-1000px,-1000px) rotate3d(1,1,1,-300deg);
    -webkit-transform-origin: top left;
    -webkit-transition: all 0.8s ease-out;
}
#pause-menu.visible{
    visibility: visible;
    opacity:0.9;
	-webkit-transform:none;
}

#pause-menu-title{
	position: absolute;
	top: 5px;
	left: 5px;
	height: 40px;
	font-family: CutOutsFLF;
}

#pause-menu-block{
	position: absolute;
	top: 40px;
	left: 50%;
    margin-left: -40px;
	height: 65%;
	width: 80px;
	float: left;
}
#pause-menu-block ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#pause-menu-block li{
	padding: 5px;
	border: 2px outset;
	cursor: pointer;
	background: rgba(11, 146, 200, 0.8);
	top: 40px;
	left: 10px;
	border: blue solid 1px;
	text-align:center;
	font-family: CutOutsFLF;
	border-style: inset;
}
#pause-menu-block li:hover {
	background: rgba(200, 120, 240, 1);
    cursor: pointer;
}
