.menu{
    z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
}
#pause-menu{
	position: absolute;
	height: 100px;
	width: 100px;
	background: rgba(11, 146, 47, 0.8);
	top: 50%;
	left: 50%;
    margin-top: -35px;
    margin-left: -50px;
	border: black solid 2px;
    visibility: hidden;
    opacity:0;
    -webkit-transform:scale(0) translate(-1000px,-1000px) rotate3d(1,1,1,-300deg);
    -webkit-transform-origin: top left;
    -webkit-transition: all 0.8s ease-out;
}
#pause-menu.visible{
    visibility: visible;
    opacity:0.9;
	-webkit-transform:none;
}

#pause-menu-title{
	position: absolute;
	top: 5px;
	left: 5px;
	height: 40px;
	font-family: CutOutsFLF;
}

.pause-menu-option{
	position: absolute;
	left: 50%;
    margin-left: -40px;
	height: 20px;
	width: 80px;
	border: 2px outset;
	cursor: pointer;
	background: rgba(11, 146, 200, 0.8);
	border: blue solid 1px;
	text-align:center;
	font-family: CutOutsFLF;
}
.pause-menu-option:hover{
	background: rgba(70, 120, 240, 1);
    cursor: pointer;
}

#pause-menu-resume{
	top: 40px;
}
#pause-menu-restart{
	top: 65px;
}
