#scene-view{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scene{
	position: absolute;
	width: 800px;
	height: 6000px;
	background-image: url(../img/background-ocean.png);
	background-position: bottom right;
}

.building{
	position: absolute;
	z-index: 1;
}
.enemy{
    position: absolute;
	z-index: 2;
}
#player{
    position: absolute;
	z-index: 3;
}
